# Core
numpy>=1.26.4,<2.0.0  # Avoids binary incompatibility error.
open3d>=0.19.0
PyOpenGL>=3.1.10
PyOpenGL-accelerate>=3.1.10
PySide6~=6.9.0
importlib-resources>=7.1.0; python_version >= '3.10'
importlib-resources>=6.5.2; python_version < '3.10'
# Testing
pytest~=8.4.2
pytest-qt~=4.5.0

# Development
black>=25.11.0
mypy~=1.19.1
types-setuptools~=81.0.0