name: Unit Tests
on: [push, pull_request]

jobs:

  testing:
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        os: [ubuntu-latest, windows-latest]  # macos-latest has OpenGL import error
        python-version: ["3.7", "3.8", "3.9"]  # "3.10" wait for Open3D support

    steps:
    - name: Get repository
      uses: actions/checkout@v3

    - name: Set up Python ${{ matrix.python-version }}
      uses: actions/setup-python@v3
      with:
        python-version: ${{ matrix.python-version }}

    - name: Install dependencies
      run: |
        python -m pip install --upgrade pip setuptools wheel
        pip install -r requirements.txt

    - name: Check black formatting
      uses: psf/black@stable

    - name: Lint with mypy
      if: ${{ matrix.python-version == '3.9' }}  # only lint last Python version
      run: |
        mypy labelCloud/.

    - name: Test with pytest
      run: |
        python -m pytest labelCloud/tests/unit/
